In [1]:
with open("source.txt", "r") as f:
    content = f.readlines()

content = [int(x.strip()) for x in content]

In [2]:
# Day 1; Q1
def findEndFreq(freqChangeList, startingPoint):
    current = startingPoint
    for i in freqChangeList:
        prev = current
        freq = prev + i
        current = freq
    return current

In [3]:
print(findEndFreq(content, 0))

439

In [4]:
# Day 1; Q2
def findDoubles(freqChangeList, startingPoint):
    freqList = [startingPoint]
    doubleFreqFound = None
    
    while doubleFreqFound == None:
        for val in freqChangeList:
            newFreq = freqList[-1] + val
            if newFreq not in freqList:
                freqList.append(newFreq)
            else:
                doubleFreqFound = newFreq
                break;
            
    return doubleFreqFound

In [5]:
# print(findDoubles(content, 0))

In [224]:
# Day 2; Q1

with open("input_boxes.txt", "r") as f:
    content = f.readlines()

box_content = [x.strip() for x in content]

checklist = ["abcdef", "bababc", "abbcde", "abcccd", "aabcdd", "abcdee", "ababab"]

In [141]:
def createChecksum(box_ids):
    
    countTwos = 0
    countThrees = 0
    
    for id in box_ids:
        count = countDuplicates(id)
        if count[0] != 0 :
            countTwos += 1
        if count[1] != 0:
            countThrees += 1
    return countTwos*countThrees


def countDuplicates(id):
    letters = list(id)
    counter2 = 0
    counter3 = 0
    letters.sort()

    l = [list(group) for key, group in groupby(letters)]
    for i in l:
        if len(i) == 2:
            counter2 += 1
        if len(i) == 3:
            counter3 += 1
    return counter2, counter3

In [142]:
createChecksum(box_content)

6000

In [252]:
# Day 2; Q2

# Find two ids that differ only 1 letter

def findOneDiffer(idlist):
    close = {}
    for idd in idlist:
        toCompareWith = idd
        for other in idlist:
            if compareTwo(toCompareWith, other):
                for index, val in enumerate(list(other)):
                    if close.get(index) == None:
                        close[index] = set(val)
                    else:
                        close[index].add(val)
          
    l = list(filter(lambda x: len(x) == 1, close.values()))  
    answer = "".join(list(map(lambda i: i.pop(), l)))
    print(answer)
    
def compareTwo(compare1, compare2):
    letters1 = list(compare1)
    letters2 = list(compare2)
    
    comparable = {}
    
    for index, val in enumerate(letters1):
        comparable[index] = set(val)
    for index, val in enumerate(letters2):
        comparable[index].add(val)
        
    if len(list(filter(lambda x: len(x) == 1, comparable.values()))) == len(compare1)-1:
        return True
    else:
        return False

In [253]:
findOneDiffer(box_content)

pbykrmjmizwhxlqnasfgtycdv

In [ ]:
pbykrmjmizwhxlqnasfgtycdv

In [78]:
# Day 3; Q1

with open("box_ids.txt", "r") as f:
    content = f.readlines()

ids = [x.strip() for x in content]

testcontent = ["#1 @ 1,3: 4x4", "#2 @ 3,1: 4x4", "#3 @ 5,5: 2x2"]

In [176]:
def parseID(id):
    box_number = str(int(id[int(id.index("#"))+1: int(id.index("@"))]))
    left = int(id[int(id.index("@"))+1: int(id.index(","))])
    top = int(id[int(id.index(","))+1: int(id.index(":"))])
    width = int(id[int(id.index(":"))+1: int(id.index("x"))])
    height = int(id[int(id.index("x"))+1:])
    return dict({"id": box_number, "left": left, "top": top, "width":width, "height":height})

In [253]:
def square(obj):
    result = {}
    for i in range(obj["width"]):
        for j in range(obj["height"]):
            coor = str(obj["left"] + i) +","+ str(obj["top"]+ j)
            result[coor] = obj["id"]
    return result
#     print(coordinates)

In [157]:
from collections import defaultdict

In [263]:
def countDoubles(idlist):
    
    res = dict()
    for i in idlist:
        obj = parseID(i)
        sq = square(obj)
        for key in sq.keys():
            if key in res:
                res[key].append(sq[key])
            else:
                res[key] = [sq[key]]
    count = set()

    for val, idd in res.items():
        if len(idd) > 1:
            count.add(val)

    return len(count)

In [264]:
print(countDoubles(ids))

111266

In [282]:
# Day3; Q2

def findSingleClaim(idlist):
    res = dict()
    for i in idlist:
        obj = parseID(i)
        sq = square(obj)
        for key in sq.keys():
            if key in res:
                res[key].append(sq[key])
            else:
                res[key] = [sq[key]]
    count = set()
    for val, idd in res.items():
        if len(idd) > 1:
#             print(idd)
            for i in idd:
                count.add(i)
    
    for i in range(len(idlist)):
        if str(int(i)+1) not in count:
            return i+1

In [283]:
print(findSingleClaim(ids))

266

In [284]:
# Day 4; Q1

with open("guard_schedule.txt", "r") as f:
    schedule = f.readlines()

schedule = [x.strip() for x in schedule]

In [391]:
from datetime import datetime
import collections
import pandas as pd

In [392]:
def parseRecord(line):
    date = datetime.strptime(line[line.index("[")+1: line.index("]")], '%Y-%m-%d %H:%M')
    id = ""
    action = ""
    if line.find("Guard") != -1:
        id = int(line[line.index("#")+1:line.index("begins")])
        action = line[line.index(str(id))+len(str(id)):]
    else:
        action = line[line.index("]")+1:]
    result = {"timestamp": date, "guard":id, "action":action}
    return result

In [393]:
events = {"timestamp":[], "guard":[], "action": []}
for i in schedule:
    record = parseRecord(i)
    events["timestamp"].append(record["timestamp"])
    events["guard"].append(record["guard"])
    events["action"].append(record["action"])

In [397]:
df = pd.DataFrame(data=events)
df.sort_values(by=["timestamp"])

                timestamp guard         action
388   1518-03-04 00:00:00   659   begins shift
460   1518-03-04 00:39:00         falls asleep
463   1518-03-04 00:47:00             wakes up
85    1518-03-05 00:04:00  2161   begins shift
226   1518-03-05 00:22:00         falls asleep
225   1518-03-05 00:57:00             wakes up
1027  1518-03-05 23:58:00  2917   begins shift
966   1518-03-06 00:30:00         falls asleep
210   1518-03-06 00:51:00             wakes up
59    1518-03-06 00:57:00         falls asleep
134   1518-03-06 00:58:00             wakes up
130   1518-03-06 23:59:00  2833   begins shift
170   1518-03-07 00:33:00         falls asleep
105   1518-03-07 00:36:00             wakes up
905   1518-03-07 00:39:00         falls asleep
31    1518-03-07 00:57:00             wakes up
997   1518-03-07 23:57:00   941   begins shift
434   1518-03-08 00:48:00         falls asleep
801   1518-03-08 00:56:00             wakes up
11    1518-03-09 00:02:00  1123   begins shift
683   1518-03-09 00:29:00         falls asleep
209   1518-03-09 00:37:00             wakes up
570   1518-03-10 00:00:00  1471   begins shift
696   1518-03-10 00:22:00         falls asleep
142   1518-03-10 00:49:00             wakes up
787   1518-03-10 23:59:00  2161   begins shift
986   1518-03-11 00:42:00         falls asleep
758   1518-03-11 00:51:00             wakes up
202   1518-03-11 23:56:00   659   begins shift
789   1518-03-12 00:14:00         falls asleep
...                   ...   ...            ...
843   1518-11-15 23:48:00  2917   begins shift
306   1518-11-16 00:03:00         falls asleep
818   1518-11-16 00:22:00             wakes up
268   1518-11-16 00:33:00         falls asleep
587   1518-11-16 00:36:00             wakes up
373   1518-11-16 00:54:00         falls asleep
343   1518-11-16 00:59:00             wakes up
855   1518-11-16 23:56:00  1471   begins shift
697   1518-11-17 00:32:00         falls asleep
975   1518-11-17 00:38:00             wakes up
115   1518-11-17 00:49:00         falls asleep
820   1518-11-17 00:51:00             wakes up
62    1518-11-17 23:57:00  1489   begins shift
1012  1518-11-18 00:14:00         falls asleep
1033  1518-11-18 00:50:00             wakes up
178   1518-11-19 00:04:00  2161   begins shift
882   1518-11-19 00:12:00         falls asleep
530   1518-11-19 00:13:00             wakes up
1037  1518-11-20 00:02:00  2467   begins shift
346   1518-11-20 00:46:00         falls asleep
984   1518-11-20 00:56:00             wakes up
181   1518-11-21 00:00:00  2161   begins shift
631   1518-11-21 00:51:00         falls asleep
4     1518-11-21 00:55:00             wakes up
704   1518-11-21 23:56:00  2917   begins shift
437   1518-11-22 00:15:00         falls asleep
78    1518-11-22 00:59:00             wakes up
657   1518-11-23 00:02:00   349   begins shift
585   1518-11-23 00:19:00         falls asleep
641   1518-11-23 00:31:00             wakes up

[1045 rows x 3 columns]